@import "_variables.scss";
@import "_html.scss";

body {
  font-size: 4rem;
  color: color(black);
  background-color: gray;
  margin: 0;
}
.header {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.toolbar {
  background-color: color(yellow);
  display: flex;
}
.images-toolbar {
  flex-grow: 1;
}

.Welcome {
  border: solid;
  margin: 1rem;
  position: relative;
}
.ImageW {
  width: 100%;
}
.Message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -125%);
  font-family: "Courier New", Courier, monospace;
  font-size: 5rem;
  font-weight: bold;
}
.body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 90vh;
}
.About {
  flex-grow: 1;
  border: solid;
  margin: 1rem;
  outline: white; //border
  //picture here?
}
.After {
  display: flex;
  margin: 10rem;
}
.Images {
  font-size: 1.75rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.Row1 {
  display: flex;
}
.Row2 {
  display: flex;
  flex-grow: 1;
}
#Image1 {
  width: 150%;
}
#Image2 {
  width: 50%;
}
#Image3 {
  flex-grow: 1;
}
.Image {
  border: solid;
  position: relative;
}
.Stat {
  position: absolute;
  z-index: 1;
}
.Rate {
  transform: translate(210%, 0%);
}
.Scholar {
  transform: translate(5%, 0%);
}
.Email {
  outline: solid;
}
