@import "_variables.scss";
@import "_html.scss";

body {
  font-size: 4rem;
  color: color(black);
  background-color: gray;
  margin: 0;
}
.header {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.toolbar {
  background-color: color(yellow);
  display: flex;
}
.images-toolbar {
  flex-grow: 1;
}

.Welcome {
  border: solid;
  margin: 1rem;
  position: relative;
}
.ImageW {
  width: 100%;
}
.Message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -125%);
  font-family: "Courier New", Courier, monospace;
  font-size: 5rem;
  font-weight: bold;
}
.body {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 90vh;
}
.About {
  flex-grow: 1;
  border: solid;
  margin: 1rem;
  outline: white; //border
  //picture here?
}
/* .Pictures {
  display: flex;
  font-size: 2rem;
  border: solid;
}
.Row_One {
  border: solid;
}
.O_1 {
  background-image: url(/dist/img1.jpg);
}
.Image {
  position: relative;
}
.O_1 {
  position: absolute;
}
.O_2 {
  position: absolute;
}
.I_1 {
  position: absolute;
} */
.Images {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.Row1 {
  width: 50%;
  display: flex;
}
.Row2 {
  width: 50%;
  display: flex;
  flex-grow: 1;
}
.Image1 {
  width: 150%;
}
.Image2 {
  width: 50%;
}
.Image3 {
  height: 100%;
}
